---
layout: default
title: GNOME Deneb
---
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="h1 m-t-0">GNOME Deneb</p> Bootstrap theme for GNOME Websites
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <p class="h1">Typography</p>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <p class="h1">Heading 1</p>
                        <p class="h2">Heading 2</p>
                        <p class="h3">Heading 3</p>
                        <p class="h4">Heading 4</p>
                        <p>Body Text</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <p class="h1 m-t-0">Buttons</p>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <a href="#" class="btn btn-primary">Button</a>
                        <a href="#" class="btn btn-success">Button</a>
                        <a href="#" class="btn btn-default">Button</a>
                        <a href="#" class="btn btn-action">Button</a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <pre>&lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Button&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-success&quot;&gt;Button&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;Button&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-action&quot;&gt;Button&lt;/a&gt;</pre>
                    </div>
                </div>
            </div>
        </section>