<div class="footer m-t-0">
    <div class="container triangles">
        <div class="row">
            <div class="col-xs-12">
                <p>
                &copy; <a href="//gnome.org"> {{ site.copyright_holder }}</a>
                </p>
                <p>
                GNOME Website Example.
                Hosted by <a href="#" target="_blank">{{ site.host }}</a>.
                Powered by <a href="#" target="_blank">Jekyll</a>.
                </p>
            </div>
        </div>
    </div>
</div>