<header class="gnome-header">
    <nav class="navbar navbar-fixed-top navbar-default affix-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-wrapper" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
            <button aria-label="Search" class="search-icon search-icon-mobile js-search-toggle visible-xs-block pull-right" type="button"><img src="{{ '/assets/images/search-icon.svg' | relative_url }}"></button>
                <a class="gnome-navbar-brand"  title="Go to home page">
                    <img src="{{ '/assets/images/gnome-logo.svg' | relative_url }}" alt="GNOME: The Free Software Desktop Project">
                </a>
            </div>
         <div class="search-box js-search-box">
              <form role="search" method="get" id="searchform" action="#">
                  <input id="search_input" name="q" placeholder="Search" class="search-input js-search" type="text">
                  <span class="form-icon"><img alt="Search icon that opens the searchbar" src="https://static.gnome.org/img/search-icon.svg"></span>
                 <button aria-label="Close search" class="search-close js-search-toggle" type="button"><img src="https://static.gnome.org/img/close-icon.svg" alt="Icon that closes the searchbar"></button>
          </form>
            </div>
         <div class="nav navbar-nav navbar-right">
                <li class="hidden-xs">
                <button aria-label="Search" class="search-icon js-search-toggle" type="button"><img src="{{ '/assets/images/search-icon.svg' | relative_url }}" alt="Search icon that opens the searchbar"></button>
                </li>
            </div>
            <div class="nav navbar-nav navbar-right">
            <li id="userDropdownMenu1" class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-wide btn-login hidden-xs" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In</a>
            <a href="#" class="dropdown-toggle visible-xs" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ '/assets/images/avatar-icon.svg' | relative_url }}"></a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form action="#" method="post" class="form">
                                        <div class="form-group">
                                            <input name="username" id="id_username" class="form-control" placeholder="Username" type="text">
                                        </div>
                                        <div class="form-group">
                                            <input name="password" id="id_password" class="form-control" placeholder="Password" type="password">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                        </div>
                                        <div class="form-group">
                                            <a href="#" class="">Forgot your password?</a>
                                        </div>
                                        <li class="divider"></li>
                                        <p>Don’t have an account?</p>
                                        <div class="form-group">
                                            <a href="#" class="btn btn-action btn-block">Sign Up</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </li>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="userDropdownMenu" class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-xs avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="https://unsplash.it/g/200?image=972" alt="">
                    </a>
                    <ul class="dropdown-menu user-menu">
                        <li>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-link" href="#">User Settings</a>
                                    <a class="btn btn-link" href="#">Menu item</a>
                                    <a class="btn btn-link" href="#">Menu item</a>
                                        <form action="#" method="post" class="form">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-link">Sign Out</button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse collapse" id="navbar-wrapper">
                <ul class="nav navbar-nav">
                    <li> <a href="#">Menu item</a></li>
                    <li> <a href="#">Menu item</a></li>
                    <li class="active"> <a href="#">Menu item</a></li>
                    <li> <a href="#">Menu item</a></li>
                    <li> <a href="#">Menu item</a></li>
                </ul>
        </div>
    </nav>
</header>