<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4a86cf">
    <meta name="application-name" content="GNOME.org Website">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.ico' | relative_url }}" />

    <title>{{ page.title }}</title>
    <link href="{{ '/assets/stylesheets/main.css' | relative_url }}" rel="stylesheet">

<style>
section {
    padding: 40px 0;
    border-bottom: 1px solid #e7e7e7;
}
.bg-dark {
    background: #f6f6f6;
}
.fake-nav {
    background-color: #4a86cf;
    height: 50px;
}
.color-panels {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 3px;
}
</style>
</head>