<!DOCTYPE html>
<html lang="en">
<!-- Good morning, GNOME -->
    {% include head.html %}
    <body class="gnome-body">
        {% include header.html %}
        <div class="gnome-content">
        {{ content }}
        </ div>
        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ '/assets/main.js' | relative_url }}"></script>
    </body>
</html>